<h1>Editar lançamento</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.lancamento_path(@conn, :update, @lancamento)) %>

<span><%= link "Back", to: Routes.lancamento_path(@conn, :index) %></span>
